Repository RakambdaOrg/FallingTree, pull requests merged in 2021-12, with the labels that each got.

#249 Forge support
  build.gradle
  forge/build.gradle
  forge/src/main/java/fr/raksrinana/fallingtree/forge/FallingTree.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/cloth/ClothConfigHook.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/leaves/LeafBreakingHandler.java
  forge/src/main/resources/META-INF/mods.toml
  forge/src/main/resources/pack.mcmeta
  gradle.properties
  gradle/libs.versions.toml
  settings.gradle.kts
Labels: type: 🧱 enhancement, modloader: Forge

#253 Downgrade logs from INFO to DEBUG
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/tree/builder/TreeBuilder.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/builder/TreeBuilder.java
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric

#250 Java 17 mixins
  fabric/src/main/resources/fabric.mod.json
  fabric/src/main/resources/fallingtree.mixins.json
  gradle/libs.versions.toml
Labels: type: 🧱 enhancement, modloader: Fabric

#248 NONE notification mode
  common/src/main/resources/assets/fallingtree/lang/en_us.json
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/config/Configuration.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/config/NotificationMode.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/CommonConfig.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/NotificationMode.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/cloth/ClothConfigHook.java
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric

#251 NONE notification mode
  common/src/main/resources/assets/fallingtree/lang/en_us.json
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/config/Configuration.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/config/NotificationMode.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/CommonConfig.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/NotificationMode.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/cloth/ClothConfigHook.java
Labels: modloader: Forge, modloader: Fabric

#255 Respect maxSize value (somewhat, it may break 1extra for now)
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/tree/breaking/ToolDamageHandler.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/breaking/ToolDamageHandler.java
Labels: type: 🐛 bug, modloader: Forge, modloader: Fabric

#257 Apply maxSizeAction
  common/src/main/resources/assets/fallingtree/lang/en_us.json
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/BlockBreakHandler.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/tree/breaking/BreakTreeTooBigException.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/tree/breaking/ITreeBreakingHandler.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/tree/breaking/InstantaneousTreeBreakingHandler.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/tree/breaking/ShiftDownTreeBreakingHandler.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/tree/breaking/ToolDamageHandler.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/BreakingHandler.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/breaking/BreakTreeTooBigException.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/breaking/ITreeBreakingHandler.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/breaking/InstantaneousTreeBreakingHandler.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/breaking/ShiftDownTreeBreakingHandler.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/breaking/ToolDamageHandler.java
Labels: type: 🐛 bug, modloader: Forge, modloader: Fabric

#259 Fabric: shift down not behaving as it should
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/tree/breaking/ShiftDownTreeBreakingHandler.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/breaking/ShiftDownTreeBreakingHandler.java
Labels: type: 🐛 bug, modloader: Fabric

#261 Port to 1.18.1
  .github/workflows/gradle_build.yml
  .github/workflows/gradle_publish.yml
  forge/build.gradle
  forge/src/main/resources/META-INF/mods.toml
  gradle.properties
  gradle/libs.versions.toml
  update.json
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric

#265 Add Korean translation
  common/src/main/resources/assets/fallingtree/lang/ko_kr.json
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric

#271 Add Chopper enchant
  common/src/main/resources/assets/fallingtree/lang/en_us.json
  fabric/build.gradle.kts
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/FallingTree.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/config/ToolConfiguration.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/enchant/ChopperEnchantment.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/utils/FallingTreeUtils.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/FallingTree.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/ToolConfiguration.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/cloth/ClothConfigHook.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/enchant/ChopperEnchantment.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/enchant/FallingTreeEnchantments.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/utils/FallingTreeUtils.java
Labels: type: 🧱 enhancement

#272 Load configuration the same way on Forge & Fabric
  forge/src/main/java/fr/raksrinana/fallingtree/forge/FallingTree.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/CommonConfig.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/Config.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/ConfigCache.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/ConfigLoader.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/Configuration.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/ToolConfiguration.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/TreeConfiguration.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/cloth/ClothConfigHook.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/leaves/LeafBreakingHandler.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/BreakingHandler.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/breaking/InstantaneousTreeBreakingHandler.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/breaking/ShiftDownTreeBreakingHandler.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/breaking/ToolDamageHandler.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/builder/TreeBuilder.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/utils/FallingTreeUtils.java
Labels: type: 🧱 enhancement

#273 Rename configs to not use blacklist/whitelist words, use allow/deny list instead
  common/src/main/resources/assets/fallingtree/lang/en_us.json
  common/src/main/resources/assets/fallingtree/lang/fr_fr.json
  common/src/main/resources/assets/fallingtree/lang/ko_kr.json
  common/src/main/resources/assets/fallingtree/lang/pl_pl.json
  common/src/main/resources/assets/fallingtree/lang/pt_br.json
  common/src/main/resources/assets/fallingtree/lang/ru_ru.json
  common/src/main/resources/assets/fallingtree/lang/uk_ua.json
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/config/ConfigCache.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/config/ToolConfiguration.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/config/TreeConfiguration.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/config/cloth/ClothConfigHook.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/tree/builder/AdjacentAbortSearchException.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/tree/builder/TreeBuilder.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/utils/FallingTreeUtils.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/ConfigCache.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/ToolConfiguration.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/TreeConfiguration.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/cloth/ClothConfigHook.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/builder/AdjacentAbortSearchException.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/builder/TreeBuilder.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/utils/FallingTreeUtils.java
  wiki/Settings---Tools.asciidoc
  wiki/Settings---Trees.asciidoc
Labels: type: 🧱 enhancement

#275 Player placed leaves not counted toward minimum leaves required (optional)
  common/src/main/resources/assets/fallingtree/lang/en_us.json
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/config/TreeConfiguration.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/config/cloth/ClothConfigHook.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/tree/builder/TreeBuilder.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/TreeConfiguration.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/config/cloth/ClothConfigHook.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/tree/builder/TreeBuilder.java
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric
