Repository RakambdaOrg/FallingTree, pull requests merged in 2022-03, with the labels that each got.

#320 1.18.2 Forge support
  forge/src/main/java/fr/raksrinana/fallingtree/forge/common/FallingTreeCommonsImpl.java
  forge/src/main/resources/META-INF/mods.toml
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Labels: type: 🧱 enhancement, modloader: Forge

#323 Change reverseSneaking in favor of sneakMode
  common/src/main/java/fr/raksrinana/fallingtree/common/FallingTreeCommon.java
  common/src/main/java/fr/raksrinana/fallingtree/common/config/Configuration.java
  common/src/main/java/fr/raksrinana/fallingtree/common/config/enums/SneakMode.java
  common/src/main/resources/assets/fallingtree/lang/en_us.json
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/cloth/ClothConfigHook.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/cloth/ClothConfigHook.java
  wiki/Settings---Examples.asciidoc
  wiki/Settings---General.asciidoc
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric, ⚠ Breaking

#326 Fix a bug involving having the SNEAK_MODE option being the reverse of what the configuration says
  common/src/main/java/fr/raksrinana/fallingtree/common/FallingTreeCommon.java
Labels: type: 🐛 bug, modloader: Forge, modloader: Fabric
