Repository RakambdaOrg/FallingTree, pull requests merged in 2023-03, with the labels that each got.

#500 Fabric update to 1.19.4
  fabric/src/main/java/fr/rakambda/fallingtree/fabric/common/FallingTreeCommonsImpl.java
  gradle.properties
  gradle/libs.versions.toml
Labels: type: 🧱 enhancement, modloader: Fabric

#504 🔄 synced file(s) with Rakambda/rakambda-github-files
  .editorconfig
  .github/CODEOWNERS
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/auto-aprove-sync-files.yml
Labels: sync

#507 🔄 synced file(s) with Rakambda/rakambda-github-files
  .github/workflows/auto-aprove-sync-files.yml
Labels: sync

#503 Add forge 1.19.4 support
  fabric/src/client/java/fr/rakambda/fallingtree/fabric/client/cloth/ClothConfigHook.java
  fabric/src/main/java/fr/rakambda/fallingtree/fabric/common/FallingTreeCommonsImpl.java
  forge/src/main/java/fr/rakambda/fallingtree/forge/client/cloth/ClothConfigHook.java
  forge/src/main/java/fr/rakambda/fallingtree/forge/common/FallingTreeCommonsImpl.java
  forge/src/main/java/fr/rakambda/fallingtree/forge/network/ForgePacketHandler.java
  forge/src/main/resources/META-INF/mods.toml
  gradle.properties
  gradle/libs.versions.toml
Labels: type: 🧱 enhancement

#514 🔄 synced file(s) with Rakambda/rakambda-github-files
  .github/dependabot.yml
  .github/renovate.json
  .github/workflows/auto-aprove-sync-files.yml
Labels: sync

#515 🔄 synced file(s) with Rakambda/rakambda-github-files
  .github/dependabot.yml
  .github/renovate.json
Labels: sync
