Repository RakambdaOrg/FallingTree, pull requests merged in 2023-10, with the labels that each got.

#612 Fix players not able to join server with mod
  build.gradle
  forge/src/main/java/fr/rakambda/fallingtree/forge/network/PlayerJoinListener.java
Labels: type: 🐛 bug, modloader: Forge

#614 🔄 synced file(s) with RakambdaOrg/rakambda-github-files
  .github/dependabot.yml
Labels: sync

#615 Improve performances by not using Exceptions for code control flow within BlockBreakListener
  common/src/main/java/fr/rakambda/fallingtree/common/config/enums/BreakMode.java
  common/src/main/java/fr/rakambda/fallingtree/common/network/ConfigurationPacket.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/AbortedResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/BreakTreeResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/IBreakAttemptResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/Tree.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/TreeHandler.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/TreePartType.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/NoTreeFoundException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/NotServerException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/PlayerNotInRightState.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/ToolUseForcedException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/TreeBreakingException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/TreeBreakingNotEnabledException.java
  fabric/src/main/java/fr/rakambda/fallingtree/fabric/event/BlockBreakListener.java
  forge/src/main/java/fr/rakambda/fallingtree/forge/event/BlockBreakListener.java
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric

#619 Improve performances by not using Exceptions for code control flow within BlockBreakListener
  common/src/main/java/fr/rakambda/fallingtree/common/config/enums/BreakMode.java
  common/src/main/java/fr/rakambda/fallingtree/common/network/PacketUtils.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/AbortedResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/BreakTreeResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/IBreakAttemptResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/Tree.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/TreeHandler.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/TreePartType.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/NoTreeFoundException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/NotServerException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/PlayerNotInRightState.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/ToolUseForcedException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/TreeBreakingException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/TreeBreakingNotEnabledException.java
  fabric/src/main/java/fr/rakambda/fallingtree/fabric/event/BlockBreakListener.java
  forge/src/main/java/fr/rakambda/fallingtree/forge/event/BlockBreakListener.java
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric

#620 Improve performances by not using Exceptions for code control flow within BlockBreakListener
  common/src/main/java/fr/rakambda/fallingtree/common/config/enums/BreakMode.java
  common/src/main/java/fr/rakambda/fallingtree/common/network/PacketUtils.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/AbortedResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/BreakTreeResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/IBreakAttemptResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/Tree.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/TreeHandler.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/TreePartType.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/NoTreeFoundException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/NotServerException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/PlayerNotInRightState.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/ToolUseForcedException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/TreeBreakingException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/TreeBreakingNotEnabledException.java
  fabric/src/main/java/fr/rakambda/fallingtree/fabric/event/BlockBreakListener.java
  forge/src/main/java/fr/rakambda/fallingtree/forge/event/BlockBreakListener.java
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric

#621 Improve performances by not using Exceptions for code control flow within BlockBreakListener
  common/src/main/java/fr/rakambda/fallingtree/common/config/enums/BreakMode.java
  common/src/main/java/fr/rakambda/fallingtree/common/network/PacketUtils.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/AbortedResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/BreakTreeResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/IBreakAttemptResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/Tree.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/TreeHandler.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/TreePartType.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/NoTreeFoundException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/NotServerException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/PlayerNotInRightState.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/ToolUseForcedException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/TreeBreakingException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/TreeBreakingNotEnabledException.java
  fabric/src/main/java/fr/rakambda/fallingtree/fabric/event/BlockBreakListener.java
  forge/src/main/java/fr/rakambda/fallingtree/forge/event/BlockBreakListener.java
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric

#622 Improve performances by not using Exceptions for code control flow within BlockBreakListener
  common/src/main/java/fr/rakambda/fallingtree/common/config/enums/BreakMode.java
  common/src/main/java/fr/rakambda/fallingtree/common/network/PacketUtils.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/AbortedResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/BreakTreeResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/IBreakAttemptResult.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/Tree.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/TreeHandler.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/TreePartType.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/NoTreeFoundException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/NotServerException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/PlayerNotInRightState.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/ToolUseForcedException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/TreeBreakingException.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/exception/TreeBreakingNotEnabledException.java
  fabric/src/main/java/fr/rakambda/fallingtree/fabric/event/BlockBreakListener.java
  forge/src/main/java/fr/rakambda/fallingtree/forge/event/BlockBreakListener.java
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric

#623 Improve performances by not using Exceptions for code control flow within BlockBreakListener
  common/src/main/java/fr/raksrinana/fallingtree/common/config/enums/BreakMode.java
  common/src/main/java/fr/raksrinana/fallingtree/common/network/PacketUtils.java
  common/src/main/java/fr/raksrinana/fallingtree/common/tree/AbortedResult.java
  common/src/main/java/fr/raksrinana/fallingtree/common/tree/BreakTreeResult.java
  common/src/main/java/fr/raksrinana/fallingtree/common/tree/IBreakAttemptResult.java
  common/src/main/java/fr/raksrinana/fallingtree/common/tree/Tree.java
  common/src/main/java/fr/raksrinana/fallingtree/common/tree/TreeHandler.java
  common/src/main/java/fr/raksrinana/fallingtree/common/tree/TreePartType.java
  common/src/main/java/fr/raksrinana/fallingtree/common/tree/exception/NoTreeFoundException.java
  common/src/main/java/fr/raksrinana/fallingtree/common/tree/exception/NotServerException.java
  common/src/main/java/fr/raksrinana/fallingtree/common/tree/exception/PlayerNotInRightState.java
  common/src/main/java/fr/raksrinana/fallingtree/common/tree/exception/ToolUseForcedException.java
  common/src/main/java/fr/raksrinana/fallingtree/common/tree/exception/TreeBreakingException.java
  common/src/main/java/fr/raksrinana/fallingtree/common/tree/exception/TreeBreakingNotEnabledException.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/event/BlockBreakListener.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/event/BlockBreakListener.java
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric
