Repository RakambdaOrg/FallingTree, pull requests merged in 2023-04, with the labels that each got.

#523 🔄 synced file(s) with Rakambda/rakambda-github-files
  .github/workflows/auto-aprove-sync-files.yml
Labels: sync

#524 🔄 synced file(s) with Rakambda/rakambda-github-files
  .github/renovate.json
Labels: sync

#521 Remove leaf breaking on world unload
  .github/workflows/gradle_build.yml
  build.gradle
  fabric/build.gradle
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/leaves/LeafBreakingHandler.java
  forge/build.gradle
  forge/src/main/java/fr/raksrinana/fallingtree/forge/ForgeEventSubscriber.java
  gradle.properties
  gradle/wrapper/gradle-wrapper.properties
  settings.gradle
Labels: type: 🐛 bug, modloader: Forge

#529 Remove leaf breaking on world unload
  .github/workflows/gradle_build.yml
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/leaves/LeafBreakingHandler.java
  forge/build.gradle
  forge/src/main/java/fr/raksrinana/fallingtree/forge/leaves/LeafBreakingHandler.java
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Labels: type: 🐛 bug, modloader: Forge, modloader: Fabric

#530 Remove leaf breaking on world unload
  common/src/main/java/fr/raksrinana/fallingtree/common/leaf/LeafBreakingHandler.java
  fabric/src/main/java/fr/raksrinana/fallingtree/fabric/event/LeafBreakingListener.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/common/FallingTreeCommonsImpl.java
  forge/src/main/java/fr/raksrinana/fallingtree/forge/event/LeafBreakingListener.java
  gradle.properties
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties
Labels: type: 🐛 bug, modloader: Forge, modloader: Fabric

#531 Remove leaf breaking on world unload
  common/src/main/java/fr/rakambda/fallingtree/common/leaf/LeafBreakingHandler.java
  fabric/src/main/java/fr/rakambda/fallingtree/fabric/event/LeafBreakingListener.java
  forge/src/main/java/fr/rakambda/fallingtree/forge/event/LeafBreakingListener.java
  gradle/libs.versions.toml
Labels: type: 🐛 bug, modloader: Forge, modloader: Fabric

#532 🔄 synced file(s) with Rakambda/rakambda-github-files
  .github/dependabot.yml
Labels: sync
