Repository RakambdaOrg/FallingTree, pull requests merged in 2024-08, with the labels that each got.

#734 🔄 synced file(s) with RakambdaOrg/rakambda-github-files
  .github/renovate.json
Labels: sync

#735 Add Traditional Chinese translations
  common/src/main/resources/assets/fallingtree/lang/zh_tw.json
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric, modloader: Neoforge

#728 Fine grained durability mode setting
  common/src/main/java/fr/rakambda/fallingtree/common/config/IToolConfiguration.java
  common/src/main/java/fr/rakambda/fallingtree/common/config/enums/DurabilityMode.java
  common/src/main/java/fr/rakambda/fallingtree/common/config/proxy/ToolProxyConfiguration.java
  common/src/main/java/fr/rakambda/fallingtree/common/config/real/ToolConfiguration.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/breaking/FallingAnimationTreeBreakingHandler.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/breaking/InstantaneousTreeBreakingHandler.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/breaking/ShiftDownTreeBreakingHandler.java
  common/src/main/java/fr/rakambda/fallingtree/common/tree/breaking/ToolDamageHandler.java
  common/src/main/resources/assets/fallingtree/lang/en_us.json
  fabric/src/client/java/fr/rakambda/fallingtree/fabric/client/cloth/ClothConfigHook.java
  neoforge/src/main/java/fr/rakambda/fallingtree/neoforge/client/cloth/ClothConfigHook.java
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric, ⚠ Breaking, modloader: Neoforge

#740 Reenable ClothConfig for Forge
  forge/build.gradle
  forge/src/main/java/fr/rakambda/fallingtree/forge/FallingTree.java
  forge/src/main/java/fr/rakambda/fallingtree/forge/client/cloth/ClothConfigHook.java
Labels: type: 🧱 enhancement, modloader: Forge
