Repository RakambdaOrg/FallingTree, pull requests merged in 2024-05, with the labels that each got.

#676 Fabric: fix packet encoding when joining server
  fabric/src/client/java/fr/rakambda/fallingtree/fabric/client/network/FabricClientPacketHandler.java
  fabric/src/main/java/fr/rakambda/fallingtree/fabric/network/FabricServerPacketHandler.java
Labels: type: 🐛 bug, modloader: Fabric

#677 Update Korean translations
  common/src/main/resources/assets/fallingtree/lang/ko_kr.json
Labels: type: 🧱 enhancement, modloader: Forge, modloader: Fabric, modloader: Neoforge

#679 Add forge support (without cloth config)
  README.md
  forge/build.gradle
  forge/src/main/java/fr/rakambda/fallingtree/forge/FallingTree.java
  forge/src/main/java/fr/rakambda/fallingtree/forge/client/cloth/ClothConfigHook.java.disabled
  forge/src/main/java/fr/rakambda/fallingtree/forge/common/wrapper/ItemStackWrapper.java
  forge/src/main/java/fr/rakambda/fallingtree/forge/enchant/ChopperEnchantment.java
  forge/src/main/resources/META-INF/mods.toml
  forge/src/main/resources/pack.mcmeta
  gradle.properties
  gradle/libs.versions.toml
Labels: type: 🧱 enhancement, modloader: Forge

#681 Forge: fix mod loading
  forge/build.gradle
  gradle/libs.versions.toml
Labels: type: 🐛 bug, modloader: Forge

#682 🔄 synced file(s) with RakambdaOrg/rakambda-github-files
  .github/dependabot.yml
Labels: sync

#684 🔄 synced file(s) with RakambdaOrg/rakambda-github-files
  .github/dependabot.yml
Labels: sync

#686 Fix neoforge startup on server
  neoforge/src/main/java/fr/rakambda/fallingtree/neoforge/client/event/PlayerLeaveListener.java
Labels: type: 🐛 bug, modloader: Neoforge

#688 🔄 synced file(s) with RakambdaOrg/rakambda-github-files
  .github/dependabot.yml
Labels: sync
