Repository RakambdaOrg/FallingTree, pull requests merged in 2024-10, with the labels that each got.

#762 Add Fabric 1.21.2 support
  datapack/pack.mcmeta
  fabric/src/main/java/fr/rakambda/fallingtree/fabric/common/FallingTreeCommonsImpl.java
  fabric/src/main/java/fr/rakambda/fallingtree/fabric/common/wrapper/PlayerWrapper.java
  gradle.properties
  gradle/libs.versions.toml
Labels: type: 🧱 enhancement, modloader: Fabric

#763 Add NeoForge 1.21.2 support
  fabric/src/main/resources/fabric.mod.json
  fabric/src/main/resources/fallingtree.mixins.json
  gradle.properties
  gradle/libs.versions.toml
  neoforge/src/main/java/fr/rakambda/fallingtree/neoforge/common/FallingTreeCommonsImpl.java
  neoforge/src/main/java/fr/rakambda/fallingtree/neoforge/common/wrapper/PlayerWrapper.java
  neoforge/src/main/resources/META-INF/neoforge.mods.toml
Labels: type: 🧱 enhancement, modloader: Neoforge

#764 🔄 synced file(s) with RakambdaOrg/rakambda-github-files
  .github/dependabot.yml
Labels: sync

#766 Fix fabric method injection
  fabric/src/main/java/fr/rakambda/fallingtree/fabric/mixin/AbstractBlockMixin.java
  fabric/src/main/java/fr/rakambda/fallingtree/fabric/mixin/LevelMixin.java
Labels: type: 🐛 bug, modloader: Fabric

#768 Add Forge 1.21.3 support
  forge/build.gradle
  forge/src/main/java/fr/rakambda/fallingtree/forge/FallingTree.java
  forge/src/main/java/fr/rakambda/fallingtree/forge/client/cloth/ClothConfigHook.java
  forge/src/main/java/fr/rakambda/fallingtree/forge/common/wrapper/PlayerWrapper.java
  forge/src/main/resources/META-INF/mods.toml
  forge/src/main/resources/pack.mcmeta
  gradle.properties
  gradle/libs.versions.toml
Labels: type: 🧱 enhancement, modloader: Forge
